.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    transition: background-color 0.3s ease-in-out;

}
.nav .link{
    font-size: 19px;
    padding-left:3px ;
    color: white;
    margin-left: 25px;
}

@media (max-width:545px){
    .header{
        height: 65px;
    }
   
    
}
@media (max-width: 355px) { 
    .header {
        height: 55px; 
    }
}
.header.scrolled {
    background-color: #0F0F0F;
}
.navbottom {
    display: none;
}
@media (max-width:545px){
    .navbottom{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50px;
        background-color: #0F0F0F;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 10000;
        transition: background-color 0.3s ease-in-out
        
    }
    .header .nav{
        display: none;
    }
    
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo img{
    width: 40px;
    height: 40px;
    margin-right:10px ;
}
.logoname{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
@media(max-width:545px){
    .header {
        justify-content: center;
      }
    .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:355px){
    .header-logo img{
        width: 30px;
        height: 30px;
        margin-right:10px ;
    }
    .logoname{
        color: white;
        font-size: 25px;
        font-weight: 700;
    }
   
    .link:hover{
        border-bottom: 2px solid #FF0000;
    }
    
    
}
.navbottom .link{
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 0px 0px 3px;

}

@media(max-width:355px){
    .navbottom .link{
        color: white;
        font-size: 13px;
        font-weight: 700;
        padding: 0px 0px 3px;
    }
}
.link.active{
    font-weight: bold;
    border-bottom: 2px solid #FF0000;
}
.link:hover {
    border-bottom: 2px solid limegreen;
}
