*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #0F0F0F;
}
ul{
  list-style: none;
}
a,NavLink,Link{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1199px) and (min-width: 992px) { 
  .container{
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media (max-width: 991px) and (min-width: 768px) { 
  .container{
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media (max-width: 767px) { 
  .container{
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media (max-width: 545px) { 
  .container{
      padding-left: 10px;
      padding-right: 10px;
  }
}
@media (max-width: 355px) { 
  .container{
      padding-left: 5px;
      padding-right: 5px;
  }
}

::-webkit-scrollbar {
  width: .7rem;
  background-color: hsl(0, 0%, 10%); /* أسود فاتح */
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 35%); /* رمادي متوسط */
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 50%); /* رمادي أفتح */
}
